.ability-viewer > table {
    max-width: 30em;
    background: var(--tertiaryBackground);
}

    .ability-viewer > table > thead > tr > th {
        font-size: 1.25em;
    }

    .ability-viewer > table > * > tr > th {
        width: 7.5em;
        text-align: left;
    }
