:root {
    --headerColor: #826;
    --mainColor: #000;
    --secondaryColor: #333;
    --background: #ECE0D4;
    --secondaryBackground: #CAC0B6;
    --borderColor: #6C6064;
    --activeColor: #000;
    --activeSecondaryColor: #181818;
    --activeBackground: #DCD0C4;
    --activeSecondaryBackground: #A6A09A;
    color: var(--mainColor);
    background: var(--background);
    font-family: var(--bodyFont);
}

*[hidden] { /* Stop css from making hidden elements visible */
    display: none !important;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: var(--headerFont);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0 0;
}

h1 {
    font-size: 3em;
    color: var(--headerColor);
}

h2 {
    font-size: 2em;
    color: var(--headerColor);
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1.0625em;
}

h6 {
    font-size: 1em;
}

ul, ol {
    margin: 0 0 0 0;
}

*:not(h1, h2, h3, h4, h5, h6) + section {
    margin: 1.5em 0 0 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}
p + p {
    margin-top: 1em;
}

blockquote {
    border-left: 4px solid;
    border-color: var(--borderColor);
    margin: 0;
    padding: 4px 0 4px 16px;
}

table, table > * > * > * {
    border: 1px solid;
    border-collapse: collapse;
    border-color: var(--borderColor);
}
    table > * > * > * {
        background: var(--secondaryBackground);
    }

label, .input-label {
    display: flex;
}

    label > :not([type="checkbox"]), .input-label > * {
        flex: 1;
    }

input:not([type]), input[type=text], textarea {
    width: 95%;
}

.ability-editor {
    border: 5px solid;
    border-collapse: collapse;
    border-color: var(--borderColor);
    padding: 5px;
}

.keyword {
    color: inherit;
    text-decoration: inherit;
}
