.glossary {
    column-width: 15em;
}

    .glossary > * {
        margin: 0;
    }

        .glossary > * > * {
            display: inline;
        }

        .glossary > * > a {
            color: var(--mainColor);
            text-decoration: none;
            font-weight: bold;
        }
